@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  max-width: 1110px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid white; */
  font-family: "Space Grotesk", sans-serif;
  color: #ffffff;
  font-style: normal;
  padding: 0 10px;
  overflow-x: hidden;
}
h1 {
  font-size: 88px;
  font-weight: 700;
  line-height: 88px; /* 100% */
  letter-spacing: -2.5px;
}
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.5px;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
p {
  color: #d9d9d9;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
p.logo {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.444px;
}
button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  background-color: #151515;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #4ee1a0;
}
button:hover {
  color: #4ee1a0;
  transform: scale(0.98);
}
input,
textarea {
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.222px;
  text-transform: uppercase;
  background-color: #242424;
  border: none;
  border-bottom: 1px solid #fff;
}
input::placeholder,
textarea::placeholder {
  opacity: 0.5;
}
#Hero {
  display: flex;
  flex-direction: column;
  gap: 125px;
  text-align: left;
  margin-bottom: 65px;
  background-image: url("./assets/images/image-profile-desktop.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding-top: 40px;
}
.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navigation > div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.Hero-Details {
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
}
.Hero-Details > h1 {
  width: 65%;
}
.Hero-Details > h1 > span {
  text-decoration: 6px underline #4ee1a0;
}
.Hero-Details > button {
  align-self: flex-start;
}
.ring1 {
  position: absolute;
  top: -70px;
  left: -250px;
}
.circle {
  position: absolute;
  right: 300px;
  bottom: 20px;
}
#Main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 72px 0;
  gap: 150px;
  border-top: 1px solid #fff;
}
.Skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: left;
  position: relative;
}
.ring2 {
  position: absolute;
  right: -370px;
  bottom: -50px;
}
.Projects {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.Projects > article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Projects-Gallery {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  text-align: left;
}
.Projects-Gallery {
  text-transform: uppercase;
}
.Projects-Gallery article {
  margin-bottom: 70px;
  position: relative;
}
.Projects-Gallery img {
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}

.remodal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 85%;
  top: 0;
}
.remodal > button {
  background-color: transparent;
}
.modal {
  display: none;
}

#Contact {
  /* background-color: #242424; */
  padding: 85px 0 45px;
}
.Contact-info {
  display: flex;
  margin-bottom: 90px;
  width: 100%;
  gap: 220px;
  position: relative;
}
.ring3 {
  position: absolute;
  bottom: -70px;
  left: -250px;
}
.Contact-info > * {
  width: 50%;
  text-align: left;
}
.Contact-info article {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.Contact-info .Form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.Contact-info .Form input,
.Contact-info .Form textarea {
  padding-left: 24px;
  padding-bottom: 17px;
}
.Contact-info .Form input:focus,
.Contact-info .Form textarea:focus {
  outline: none;
  border-bottom: 1px solid #4ee1a0;
}
textarea {
  resize: none;
  width: 100%;
}
.Contact-info .Form button {
  background-color: #242424;
  align-self: flex-end;
}

.invalid {
  color: #ff6f5b;
  font-family: Space Grotesk;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.167px;
  align-self: flex-end;
  margin-top: -30px;
}
.invalid-line {
  border-bottom: 1px solid #ff6f5b;
}
.hidden {
  display: none;
}
footer {
  padding: 45px 0;
  border-top: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
svg {
  cursor: pointer;
}

path:hover {
  cursor: pointer;
  fill: #4ee1a0;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 72px;
  }
  #Hero {
    background-image: url("./assets/images/image-profile-tablet.webp");
  }
  .Contact-info {
    gap: 110px;
  }
  .Projects-Gallery > article > div {
  }
  .modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
    background-color: #151515;
    position: relative;
    height: 0;
    top: 10px;
  }
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: 56px;
  }
  .Skills {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
  .circle {
    right: -70px;
    bottom: 0;
  }
  .Contact-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .Contact-info article {
    text-align: center;
    gap: 20px;
  }
  footer {
    padding: 30px 0;
  }
}
@media screen and (max-width: 650px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.136px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  .Projects-Gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 510px) {
  #Hero {
    background-image: url("./assets/images/image-profile-mobile.webp");
    background-size: auto 350px;
    background-position: top center;
    padding: 20px 0;
    gap: 0;
    text-align: center;
  }

  .Navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .Navigation > div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .Hero-Details {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    position: relative;
  }
  .Hero-Details > h1 {
    width: 100%;
  }
  .Hero-Details > button {
    align-self: center;
  }
  .ring1 {
    left: -300px;
    top: -250px;
    z-index: -1;
  }
  .Skills {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
    text-align: center;
  }
  .Projects {
    border-top: 1px solid #ffffff;
    padding-top: 70px;
  }
}
