@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  max-width: 1110px;
  height: auto;
  margin: 40px auto;
  text-align: center;
  border: 1px solid white;
  font-family: "Space Grotesk", sans-serif;
  color: #ffffff;
  font-style: normal;
  padding: 0 10px;
}
h1 {
  font-size: 88px;
  font-weight: 700;
  line-height: 88px; /* 100% */
  letter-spacing: -2.5px;
}
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.5px;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
p {
  color: #d9d9d9;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
p.logo {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.444px;
}
button {
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  background-color: #151515;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #4ee1a0;
}
input,
textarea {
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.222px;
  text-transform: uppercase;
  background-color: #242424;
  border: none;
  border-bottom: 1px solid #fff;
}
input::placeholder,
textarea::placeholder {
  opacity: 0.5;
}
#Hero {
  display: flex;
  flex-direction: column;
  gap: 125px;
  text-align: left;
  margin-bottom: 65px;
  background-image: url("./assets/images/image-profile-desktop.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navigation > div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.Hero-Details {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.Hero-Details > h1 > span {
  text-decoration: 6px underline #4ee1a0;
}
.Hero-Details > button {
  align-self: flex-start;
}
#Main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 72px 0;
  gap: 150px;
  border-top: 1px solid #fff;
}
.Skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: left;
}
.Projects {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.Projects > article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Projects-Gallery {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  text-align: left;
}
.Projects-Gallery {
  text-transform: uppercase;
}
.Projects-Gallery article {
  margin-bottom: 70px;
}
.Projects-Gallery img {
  width: 100%;
  margin-bottom: 20px;
}
#Contact {
  /* background-color: #242424; */
  padding: 85px 0 45px;
}
.Contact-info {
  display: flex;
  margin-bottom: 90px;
  width: 100%;
  gap: 220px;
}
.Contact-info > * {
  width: 50%;
  text-align: left;
}
.Contact-info article {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.Contact-info form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.Contact-info form input,
.Contact-info form textarea {
  padding-left: 24px;
  padding-bottom: 17px;
}
.Contact-info form button {
  background-color: #242424;
  align-self: flex-end;
}
footer {
  padding: 45px 0;
  border-top: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
svg {
  cursor: pointer;
}

path:hover {
  cursor: pointer;
  fill: #4ee1a0;
}
